@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  line-height: 1.7;
}

#home {
  width: 100%;
  height: 100vh;
  background-image: url(../images/bg-04.png);
  background-size: cover;
  background-position: center top;
  position: relative;
  padding: 30px;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  left: 0;
  top: 0;
  z-index: 1;
}

#home-content {
  position: relative;
  color: white;
  z-index: 2;
  margin-top: 80px;
}

#home-hello {
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  margin-bottom: 5px;
}

#home-title {
  font-size: 26px;
  font-weight: 300;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

#write {
  font-weight: 700;
  margin-left: 15px;
  text-align: center;
}


#bar {
  width: 3px;
  border-radius: 100px;
  height: 40px;
  background-color: white;
  display: inline-block;
  margin-left: 5px;
}

#icons {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin-top: 10px;
}

#icons a {
  color: white;
  font-size: 28px;
}

#btn-ver-mais {
  background: none;
  padding: 10px 30px;
  border-radius: 50px;
  border: 2px solid white;
  color: white;
  display: block;
  margin: 40px auto 0;
  font-weight: 500;
  cursor: pointer;
  transition: background 400ms, color 400ms ease;
}

#btn-ver-mais:hover {
  background-color: white;
  color: black;
}

@media screen and (min-width: 410px) {
  #home-hello {
    font-size: 20px;

  }
  #home-title {
    font-size: 32px;
  }
}

@media screen and (min-width: 600px) {
  #home-title {
    font-size: 45px;
  }
}

@media screen and (min-width: 768px) {
  #home-title {
    font-size: 65px;
  }

  #bar {
    width: 5px;
    height: 60px;
    margin-left: 10px;
    margin-top: 5px;
  }
}

@media screen and (min-width: 960px) {
  #home-title {
    font-size: 75px;
  }

}
