@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
  line-height: 1.7;
}

body, html {
  scroll-behavior: smooth;
}

/* ----- General Classes ----- */

.container {
  width: 100%;
  margin: 0 auto;
  padding: 20px;
}

.h1-title {
  font-size: 24px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}

/* ----- Home CSS ----- */

#home {
  width: 100%;
  min-height: 100vh;
  background: url('../images/bg-04.png') center top;
  background-size: cover;
  position: relative;
  color: white;
  display: flex;
  align-items: center;
}

.mask {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  top: 0;
  left: 0;
}

#home-content {
  position: relative;
  z-index: 1;
  text-align: center;
  margin-top: 0px;
}

#home-content p {
  font-weight: 400;
  font-size: 16px;
}

#home-content h1 {
  font-size: 26px;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#home-content h1 span{
  font-weight: 700;
  margin: 0 6px;
}

#home-content h1 i {
  width: 2px;
  height: 30px;
  background-color: white;
  display: inline-block;
}

#redes-icons {
  display: flex;
  justify-content: center;
  gap: 15px;
  -webkit-gap: 15px;
  -moz-gap: 15px;
  -ms-gap: 15px;
  margin-top: 20px;
}

#redes-icons a {
  color: white;
  font-size: 35px;
}

#btn-ver {
  padding: 10px 25px;
  border: 2px solid white;
  background: none;
  border-radius: 50px;
  color: white;
  font-weight: 500;
  margin-top: 25px;
  outline: none;
  cursor: pointer;
  transition: background-color 300ms, color 300ms ease;
}

#btn-ver:hover {
  background-color: white;
  color: black;
}


/* ----- About me CSS ----- */

#about-me {
  padding: 40px 0;
}


/* ----- Media Queries ----- */

@media screen and (min-width: 356px) and (max-width: 405px) {
  #home-content h1 {
    font-size: 30px;
  }

  #home-content h1 i{
    height: 34px;
  }
}

@media screen and (min-width: 406px) and (max-width: 467px) {
  #home-content h1 {
    font-size: 35px;
  }

  #home-content h1 i{
    height: 38px;
  }
}

@media screen and (min-width: 768px) {
  #home-content p {
    font-size: 18px;
  }

  #redes-icons a {
    font-size: 30px;
  }
}

@media screen and (min-width: 468px) and (max-width: 767px) {
  #home-content h1 {
    font-size: 40px;
  }

  #home-content h1 i{
    height: 42px;
  }
}

@media screen and (min-width: 576px) and (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container {
    max-width: 720px;
  }

  #home-content h1 {
    font-size: 50px;
  }

  #home-content h1 i{
    height: 46px;
    width: 3px;
  }
}

@media screen and (min-width: 992px) {
  #home-content h1 {
    font-size: 60px;
  }

  #home-content h1 i{
    height: 52px;
    margin-top: 4px;
    width: 3px;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container {
    max-width: 1140px;
  }
}

@media screen and (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
